/* Resetar Navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins', Times, serif;
}

/* Variáveis */
:root{
    --purple: #3204ff;
    --white: #fff;
}

#container{
    height: 100%;
    width: 100vw;
    background-color: var(--purple);
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h1{
    font-size: 1.9em;
    font-weight: bold;
    color: var(--white);
}

form{
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
    padding: 1rem;
    margin-top: 1rem;
}

input{
    margin-left: 1rem;
}

/* input type text */
input[type=number]{
    /* resetar estilo */
    border: none;
    width: 9rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0.5rem;
}

/* hover */
input[type=number]:hover{
    border: 1px solid var(--purple);
}

/* Chrome e outros */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type="button"]{
    background-color: var(--white);
    color: var(--purple);
    border: 1px solid var(--purple);
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

/* hover */
input[type="button"]:hover{
    background-color: var(--purple);
    color: var(--white);
    border: 1px solid var(--white);
}

main{
    padding-top: 0.5rem;
}

footer{
    background-color: var(--purple);
    color: var(--white);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}